<div class="title-block">
    <a href="{{block.userOptions.searchAppUrl}}?q={{details.search}}" title="{{block.userOptions.searchAppUrl}}?q={{details.search}}" class="p-link">Run Search in Splunk {{fa-icon "external-link" fixedWidth=true class="external-icon"}}</a>
</div>
{{#each details.results as |item index|}}
    {{#if (gt index 0)}}
        <hr>
    {{/if}}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a {{action "showFields" index}} class="nav-link {{if item.showFields "active"}}" href="#">Fields</a>
        </li>
        <li class="nav-item">
            <a {{action "showSource" index}} class="nav-link {{if item.showSource "active"}}" href="#">_source</a>
        </li>
        <li class="nav-item">
            <a {{action "showTable" index}} class="nav-link {{if item.showTable "active"}}" href="#">Table</a>
        </li>
        <li class="nav-item">
            <a {{action "showJson" index}} class="nav-link {{if item.showJson "active"}}" href="#">JSON</a>
        </li>
    </ul>

    {{#if item.showFields}}
        <div class="tab-container scrollable-block">
            {{#each item.fields as |field|}}
                <div>
                    <span class="p-key">{{humanize field.key}}:</span>
                    <span class="p-value">{{field.value}}</span>
                </div>
            {{/each}}
        </div>
    {{/if}}

    {{#if item.showSource}}
        <div class="tab-container fields-block scrollable-block">
            {{#each-in item.sourceStringified as |key value|}}
                <span class="field-key">{{key}}:</span><span class="field-value">{{value}}</span>
            {{/each-in}}
        </div>
    {{/if}}

    {{#if item.showTable}}
        <div class="tab-container fields-table">
            {{object-to-table item.result}}
        </div>
    {{/if}}

    {{#if item.showJson}}
        <div class="tab-container json-block">
            <pre>{{{item.json}}}</pre>
        </div>
    {{/if}}
{{/each}}
